.env

__pycache__/
*.py[cod]
*.pyo

*.egg-info/

adaptive_conv_cpp_impl.cpython-38-x86_64-linux-gnu.so
adaptive_conv_cuda_impl.cpython-38-x86_64-linux-gnu.so
build/


featup/pytorch-data/cocostuff/annotations/train2017/*
featup/pytorch-data/cocostuff/annotations/val2017/*
featup/pytorch-data/cocostuff/images/train2017/*
featup/pytorch-data/cocostuff/images/val2017/*


checkpoints/*